@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/* ---------- */
/* TYPOGRAPHY */
/* ---------- */

:root {
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-code: 'Kode Mono', monospace;
}

/* --------------- */
/* UTILITY CLASSES */
/* --------------- */

.font-code {
    font-family: var(--font-family-code);
}
