.user-select-none {
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: var(--justify-content, center);
    align-items: var(--align-items, center);
    gap: var(--gap, 1rem);
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.grid-center {
    display: grid;
    place-items: center;
}
