.user-select-none {
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: var(--justify-content, center);
    align-items: var(--align-items, center);
    gap: var(--gap, 1rem);
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.grid-center {
    display: grid;
    place-items: center;
}

.scrollable {
    overflow-y: auto;
    min-height: 0;

    scrollbar-width: thin;
    scrollbar-color: var(--color-subdued) transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-subdued);
        border-radius: 0px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}
