<h2>Introduction</h2>

<p>
    A computer, is essentially an <i>enormous</i> collection of <i>tiny</i> electrical switches (called transistors). A
    switch can be in one of two discreet states: either <code>on</code> or <code>off</code>. This is the foundation for
    all digital systems.
</p>

<p>
    Many things in life can be modeled using a two-state approach. Is it night or day? Is this thing on or off? yes or
    no? true or false? Answers to a lot of questions like these can be represented by using only two possible states.
</p>

<p>
    Depending on the domain, these state can be represented differently. In computing, the most fundamental unit of
    information is the <code><strong>bit</strong></code>, which can have a value of either <code>0</code> or
    <code>1</code>.
</p>

<section class="showcase grid-center">
    <div class="lhs-rhs user-select-none" style="gap: 2rem;">
        <bit-cell value="1" class="cursor-pointer" data-sync-group="introduction"></bit-cell>
        <span class="font-code color-subdued">or</span>
        <bit-cell value="0" class="cursor-pointer" data-sync-group="introduction"></bit-cell>

        <bit-cell value="1" class="cursor-pointer" data-sync-group="introduction" boolean></bit-cell>
        <span class="font-code color-subdued">or</span>
        <bit-cell value="0" class="cursor-pointer" data-sync-group="introduction" boolean></bit-cell>

        <bit-cell value="1" class="cursor-pointer" data-sync-group="introduction" boolean data-true="yes"
            data-false="no"></bit-cell>
        <span class="font-code color-subdued">or</span>
        <bit-cell value="0" class="cursor-pointer" data-sync-group="introduction" boolean data-true="yes"
            data-false="no"></bit-cell>

        <svg-switch value="1" class="cursor-pointer" data-sync-group="introduction"></svg-switch>
        <span class="font-code color-subdued">or</span>
        <svg-switch value="0" class="cursor-pointer" data-sync-group="introduction"></svg-switch>

        <bit-cell value="1" class="cursor-pointer" data-sync-group="introduction" boolean data-true="ON"
            data-false="OFF"></bit-cell>
        <span class="font-code color-subdued">or</span>
        <bit-cell value="0" class="cursor-pointer" data-sync-group="introduction" boolean data-true="ON"
            data-false="OFF"></bit-cell>
    </div>
</section>

<!-- TODO: Add a note indicating that these showcases are interactive -->

<!-- TODO: Where Binary is Used. Hardware states, memory, packets, RGB Colors, Permissions etc. -->
