<h2>Booleans</h2>

<p>
    In computing, we often need to represent and manipulate logical values, which can be either true or false.
    These logical values are represented using the Boolean data type, which is named after the mathematician George
    Boole. A Boolean value can be represented using a single bit, where <code>0</code> typically represents
    <code>false</code> and <code>1</code> represents <code>true</code>.
</p>

<!-- TODO: Booleans -->
<!-- TODO: Booleans:: Boolean Algebra -->
<!-- TODO: Booleans:: Boolean Laws (DeMorgan's, distributive, absorption, involution etc) and simplification -->
<!-- TODO: Booleans:: Truth-Tables -->
