<h2>Logic Gates</h2>

<section id="switch" class="topic">
    <h3>The Switch</h3>

    <div class="flex flex-row" style="gap: 2rem;">
        <svg-switch value="1" interactive data-sync-group="logic-gate-switch"></svg-switch>
        <bit-cell value="1" interactive data-sync-group="logic-gate-switch"></bit-cell>
    </div>

    <p>
        The most basic building block of digital logic is the switch. A switch can be in one of two states: on or off.
        We can represent these states using bits, where 1 represents on and 0 represents off. By combining switches in
        various ways, we can create more complex logic gates that perform specific functions based on the inputs they
        receive.
    </p>
</section>

<section id="transistor" class="topic">
    <h3>The Humble Transistor</h3>

    <p>
        The humble transistor is arguably the most important invention in the history of computing. It acts as a switch
        that can be turned on or off by applying a voltage to its gate. Transistors are the building blocks of logic
        gates, which are used to perform logical operations on bits. By combining multiple transistors, we can create
        complex logic gates that can perform a wide range of functions, from simple AND and OR operations to more
        complex functions like XOR and NAND.
    </p>

    <p>
        A transistor can be thought of as a switch that is controlled by an electrical signal. This allows us to wire up
        circuits that can perform logical operations on bits.
    </p>

    <!-- TODO: Transistor Diagram -->
</section>

<section id="and-gate" class="topic">
    <h3><code>AND</code> Gate</h3>

    <p>
        An <code>AND</code> gate is a digital logic gate that outputs true (1) only if all of its inputs are true (1).
        If any of the inputs are false (0), the output will be false (0).
    </p>

    <p>
        An <code>AND</code> can be achieved by using two switches in series. The output will only be <code>ON</code> if
        both switches are <code>ON</code>.
    </p>

    <div class="flex flex-row" style="gap: 0;">
        <svg-switch value="1" interactive></svg-switch>
        <svg-switch value="1" interactive></svg-switch>
    </div>

    <div>
        <and-gate inputs="[1, 1]"></and-gate>
    </div>
</section>

<section id="or-gate" class="topic">
    <h3><code>OR</code> Gate</h3>

    <p>
        An <code>OR</code> gate is a digital logic gate that outputs true (1) if at least one of its inputs is true (1).
        If all of the inputs are false (0), the output will be false (0).
    </p>

    <p>
        An <code>OR</code> can be achieved by using two switches in parallel. The output will be <code>ON</code> if at
        least
        one of the switches is <code>ON</code>.
    </p>

    <div class="flex flex-column" style="gap: 0;">
        <svg-switch value="1" interactive></svg-switch>
        <svg-switch value="1" interactive></svg-switch>
    </div>

    <div>
        <or-gate inputs="[1, 1]"></or-gate>
    </div>
</section>

<section id="not-gate" class="topic">
    <h3><code>NOT</code> Gate</h3>

    <p>
        A <code>NOT</code> gate is a digital logic gate that outputs the opposite of its input. If the input is true
        (1),
        the output will be false (0), and if the input is false (0), the output will be true (1).
    </p>

    <p>
        A <code>NOT</code> can be achieved by using a single switch in series with a power source. The output will be
        <code>ON</code> when the switch is <code>OFF</code>, and <code>OFF</code> when the switch is <code>ON</code>.
    </p>

    <div>
        <not-gate inputs="[1]"></not-gate>
    </div>
</section>

<section id="nand-gate" class="topic">
    <h3><code>NAND</code> Gate</h3>

    <p>
        A <code>NAND</code> gate is a digital logic gate that outputs false (0) only if all of its inputs are true (1).
        If any of the inputs are false (0), the output will be true (1). In other words, a <code>NAND</code> gate is
        the opposite of an <code>AND</code> gate.
    </p>

    <p>
        A <code>NAND</code> can be achieved by combining an <code>AND</code> gate with a <code>NOT</code> gate. The
        output will be <code>OFF</code> only if both inputs are <code>ON</code>.
    </p>

    <div>
        <nand-gate inputs="[1, 1]"></nand-gate>
    </div>
</section>

<section id="nor-gate" class="topic">
    <h3><code>NOR</code> Gate</h3>

    <p>
        A <code>NOR</code> gate is a digital logic gate that outputs true (1) only if all of its inputs are false (0).
        If any of the inputs are true (1), the output will be false (0). In other words, a <code>NOR</code> gate is
        the opposite of an <code>OR</code> gate.
    </p>

    <p>
        A <code>NOR</code> can be achieved by combining an <code>OR</code> gate with a <code>NOT</code> gate. The
        output will be <code>ON</code> only if both inputs are <code>OFF</code>.
    </p>

    <div>
        <nor-gate inputs="[1, 1]"></nor-gate>
    </div>
</section>

<section id="xor-gate" class="topic">
    <h3><code>XOR</code> Gate</h3>

    <p>
        An <code>XOR</code> gate is a digital logic gate that outputs true (1) if an odd number of its inputs are true
        (1). If an even number of the inputs are true (1), the output will be false (0). In other words, an
        <code>XOR</code> gate outputs true if the inputs are different, and false if the inputs are the same.
    </p>

    <p>
        An <code>XOR</code> can be achieved by combining an <code>OR</code> gate with an <code>AND</code> gate and a
        <code>NOT</code> gate. The output will be <code>ON</code> if exactly one of the inputs is <code>ON</code>.
    </p>

    <div>
        <xor-gate inputs="[1, 1]"></xor-gate>
    </div>
</section>

<!-- TODO: Logic Gates -->
<!-- TODO: Basic Gates -->
<!-- TODO: Derived Gates (NAND, NOR, XNOR), universal gates -->
<!-- TODO: Combinational Circuits - half/full adders, multiplexers, decoders, comparators -->
