@import url("./styles/base.css");
@import url("./styles/colors.css");
@import url("./styles/typography.css");
@import url("./styles/utility.css");

body {
  --header-height: 4rem;
  display: grid;
  grid-template-rows: var(--header-height) 1fr auto;
  grid-template-columns: auto 1fr auto;
}

header {
  display: grid;
  place-content: center;
  margin: 0 auto;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: sticky;
  top: 0;
}

aside {
  height: calc(100dvh - var(--header-height));
  width: max(30ch, 20vw);
  grid-row: 2 / -1;
  grid-column: 1 / 2;
  position: sticky;
  top: var(--header-height);
  padding-inline: 1.5rem;
}

#sidebar {
  height: calc(100dvh - var(--header-height));
  margin-inline: auto;
  font-family: var(--font-family-bits);
  padding-block: 1.25em 0.67em;

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      list-style: none;
      color: var(--color-text);

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .bottom {
    width: 100%;
    border-top: 1px solid var(--color-subdued);
    padding-top: 0.5rem;
  }
}


main {
  margin-inline: auto;
  grid-row: 1 / -1;
  grid-column: 2 / 3;
}

section.topic {
  margin: 1rem 2rem;

  h2 {
    position: sticky;
    top: 0;
    background: var(--color-background);
    padding-block: 0.75rem;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

section.showcase {
  margin-block: 4rem;
  margin-inline: auto;
  width: 100%;
}
